<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="disk" value="0" />
		<add key="part" value="5" />
		<add key="txtPath" value="e:\\cacheFile.txt" />
		<add key="onekey" value="1" />
		<!-- disk是磁盘编号，part是分区编号，可以先打开软件看看要删除的磁盘的编号是什么 -->
		<!-- onekey设置成“1”，打开程序自动删除 -->
	</appSettings>
</configuration>